html, body, #root {
  height: 100%;
  margin: 0;
}

.scrollbar-always-visible {
  overflow-y: scroll;
}

.scrollbar-always-visible::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-always-visible::-webkit-scrollbar-thumb {
  background-color: #52555D; /* grey-900 */
  border-radius: 4px;
  cursor: pointer;
}

.scrollbar-always-visible::-webkit-scrollbar-track {
  background-color: #303136; /* grey-950 */
}

.custom-popup .mapboxgl-popup-content {
  background: none;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
}

.custom-popup .mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  align-self: center;
  border-bottom: none;
  border-top-color: #8BFFF5 !important;
}

.mapboxgl-popup-tip {
  border: 6px solid transparent !important;
  height: 0;
  width: 0;
  z-index: 1;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
